* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  font-family: 'Patrick Hand', cursive;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90%;
}
.header-title {
  text-align: center;
  width: 100%;
  min-width: 800px;
  height: 100px;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 5px;
}
.content-box {
  background-image: url(./IMG/bg-container.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  min-width: 800px;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: -40px;
}
.input-box {
  vertical-align: middle;
  margin-top: 20px;
  margin-left: -25px;
}
.text-box { 
  font-size: 20px;
  font-weight: 600;
}
.btn-container {
  margin: 40px auto 50px;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  color: #777;
  text-shadow: 1px 1px 0px white;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
}
.btn {
  margin: 8px;
  width: 100%;
}
a:hover{
    padding: 5px 11px;
}
img {
  width: 40px;
  padding-right: 8px;
  position: relative;
  top: 2px;
}
.number{
    outline: none;
    border: none;
    width: 60%;
    height: 1.8rem;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  padding: 10px;
}