* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: url(./IMG/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
height: 920px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.content-box {
  width: 800px;
  margin: 100px auto 50px;
  justify-content: center;
}
.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 50% 40%,
    #fcfcfc,
    #efeff1 66%,
    #9b5050 100%
  );
  overflow: hidden;
}
.content-ball {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 5px;
}
.number {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: -30px;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  color: rgb(55, 85, 109);
  font-family: "Roboto", sans-serif;
}
.number-box {
  width: 800px;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  justify-content: center;
  margin: auto;
}
#txt-num {
  width: 70%;
  height: 40px;
  outline: none;
  background-color: rgb(231, 240, 243);
  border-radius: 3px;
  border: none;
  padding: 5px;
  padding-left: 15px;
  font-size: 16px;
}
#button {
vertical-align: middle;
  width: 15%;
  height: 41px;
  font-family: "Roboto", sans-serif;
  color: palevioletred;
  font-weight: 500;
  font-size: 15px;
  border: none;
  background-color: rgb(220, 241, 241);
  border-radius: 3px;
}
.ball7{
    background: radial-gradient(
    circle at 50% 40%,
    #ccc9aa,
    #2f967c 66%,
    #9b5050 100%
  );
}

.ball8{
    background: radial-gradient(
        circle at 50% 40%,
        #c7b79a,
        #d82730 66%,
        #9b5050 100%
      );
}